<!DOCTYPE html>
<!-- Head Start -->
<head>
  <title>Carousel</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="/stylesheets/style.min.css" media="screen">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  
</head>
<!-- Head End -->

<body data-gr-c-s-loaded="true" class="ready">

  <!-- Carousel Slider Start -->
  <section class="container">
    <div id="carousel" style="transform: translateZ(-494px) rotateY(-864deg);" class="panels-backface-invisible"></div>
    <div id="go-left" class="left-float"></div>
    <div id="go-right" class="right-float"></div>
  </section>
  <!-- Carousel Slider End -->

  <!-- Carousel Range-Control Start -->
  <section id="options">
    <p><input type="hidden" id="panel-count"></p><br>
  </section>
  <!-- Carousel Range-Control End -->

  <!-- Add Data To Carousel Start-->
  
  <form action="/" method="POST" enctype="multipart/form-data">
	<input class="form-control" type="text" name="modal" placeholder="Modal">
	<input class="form-control" type="text" name="brand" placeholder="brand">
	<input type="file" name="picture" accept="application/x-zip-compressed,image/*">
	<input class="btn btn-primary" type="submit" value="submit" id="panel-add">
  </form>
  <!-- Add Data To Carousel End -->
  
  <!-- JavaScript Start -->
  <script src="./javascripts/jquery.min.js"></script>
  <script src="./javascripts/carouselapi.js"></script>
  <script src="./javascripts/utils.min.js"></script>
  <script src="./javascripts/script.min.js"></script>
  <!-- JavaScript End -->

</body>
</html>
